<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
    <h4 class="m-0">
        <img style="max-height: 50px;" src="/img/Fedora-EX16-banner2.png" alt="fff">
    </h4>
    <div class="justify-content-end" id="navbarNav">
        <ul class="navbar-nav align-items-center" style="display: ruby;">
            {{ range .Site.Menus.nav }}
            <li class="nav-item">
                <a class="nav-link p-1" href=" {{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
</nav>