<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
    <h4><a class="navbar-brand" href="#">Slimbook Executive Fedora Edition</a></h4>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            {{ range .Site.Menus.nav }}
            <li class="nav-item">
                <a class="nav-link" href=" {{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
    <h4 class="m-0"><a class="navbar-brand" href="#">Fedora Slimbook</a></h4>

    <div class="justify-content-end" id="navbarNav">
        <ul class="navbar-nav align-items-center" style="display: ruby;">
            {{ range .Site.Menus.nav }}
            <li class="nav-item">
                <a class="nav-link" href=" {{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
    </div>
</nav>